@import '../../../styles/vars.global';

.main {
  margin-top: 2 * $fs-spacing-unit;
  > div {
    z-index: $fs-zindex-wf-scrollbars;
  }
}

.navigator {
  max-width: 25%;
  transition: box-shadow $fs-ani-slow;
}
.navigatorShadows {
  box-shadow: $fs-sha-two;
}
