# Extraneous files
.DS_Store
*.swp

# Dependencies
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Output
dist
release
coverage
.nyc_output
build/Release
