@import '../../../styles/vars.global';

.activity {
  background-color: $fs-clr-bg-medium-dark;
  border-radius: 2px;
  position: absolute;
  box-shadow: $fs-sha-two;
  z-index: $fs-zindex-2;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
  cursor: move;
}
.focused {
  background-color: $fs-clr-bg-light-dark;
  z-index: $fs-zindex-focused;
  box-shadow: $fs-sha-four;
}
