@import '../../../styles/vars.global';

.transitionWrap {
  z-index: $fs-zindex-transition;
  position: absolute;
}

.transition {
  background-color: $fs-clr-bg-alternative;
  width: 100%;
  height: 3px;
  transition: background $fs-ani-medium;
  margin-top: 3px;
  position: relative;
  &::after {
    position: absolute;
    top: -7px;
    right: left;
    content: '<';
    color: $fs-clr-accent-highlight;
    font-size: 16px;
    font-weight: bold;
  }
}
