@import '../../../styles/vars.global';

$wrap-size: 10px;
.transitionWrap {
  z-index: $fs-zindex-transition;
  position: absolute;
}

.transition {
  $arrow-size: 16px;
  $transition-size: 3px;
  background-color: $fs-clr-bg-alternative;
  width: 100%;
  height: $transition-size;
  transition: background $fs-ani-medium;
  margin-top: $wrap-size / 2 - $transition-size / 2;
  position: relative;
  &::after {
    font-family: 'Material Icons';
    position: absolute;
    top: 50%;
    margin-top: -$arrow-size / 2;
    left: -2px;
    transform: rotate(-90deg);
    content: 'navigation';
    color: $fs-clr-accent-highlight;
    font-size: $arrow-size;
    font-weight: bold;
  }
}
