@import './reset.global';
@import './grid.global';
@import './vars.global';

* {
  box-sizing: border-box;
}
html,
body {
  font-family: $fs-font-dflt;
  font-size: $fs-font-size-dflt;
  background: $fs-clr-bg-dark;
  color: $fs-clr-text-dflt;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
