@import './reset.global';
@import './grid.global';
@import './vars.global';

* {
  box-sizing: border-box;
}
html,
body {
  font-family: $fs-font-dflt;
  font-size: $fs-font-size-dflt;
  background: $fs-clr-bg-dark;
  color: $fs-clr-text-dflt;
  overflow: hidden;
}
html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
}
a {
  color: $fs-clr-link-dflt;
  text-decoration: none;
}
a:hover {
  color: $fs-clr-link-hover;
}
