@import '~react-toolbox/lib/colors';
@import './src/styles/vars.global';

$color-primary: $fs-clr-accent-highlight !default;
$color-primary-dark: $fs-clr-bg-alternative !default;
$color-primary-contrast: $fs-clr-text-dflt !default;
$color-accent: $fs-clr-accent-secondary !default;
$color-accent-dark: $fs-clr-accent-secondary-dark !default;
