// Fonts/Icons
$fs-font-dflt: 'Roboto', sans-serif;
$fs-font-size-dflt: 14px;
$fs-font-size-button: 16px;
$fs-font-size-large: 20px;
$fs-font-size-extra-large: 32px;
$fs-line-height-dflt: 1.3em;
$fs-icon-extra-small: 14px;
$fs-icon-small: 18px;
$fs-icon-medium: 24px;
$fs-icon-large: 36px;
$fs-icon-extra-large: 48px;

// Colors
$fs-clr-text-dflt: #E6E6E6;
$fs-clr-text-disabled: rgba($fs-clr-text-dflt, 0.26);
$fs-clr-text-highlight: #EFEFEF;
$fs-clr-accent-highlight: #ff3366;
$fs-clr-accent-secondary: #ff0042;
$fs-clr-accent-secondary-dark: #744200;
$fs-clr-bg-alternative: #383F4D;
$fs-clr-bg-dark: #1F2532;
$fs-clr-bg-medium-dark: #37474F;
$fs-clr-bg-light: #546E7A;
$fs-clr-link-dflt: #535C6E;
$fs-clr-link-hover: #AFBDC4;

// Shadows
$fs-sha-one: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$fs-sha-two: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$fs-sha-three: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$fs-sha-four: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.23);

// ZIndex
$fs-zindex-0: 0;
$fs-zindex-1: 1;
$fs-zindex-2: 10;
$fs-zindex-3: 100;
$fs-zindex-4: 500;
$fs-zindex-5: 800;
$fs-zindex-6: 1000;
$fs-zindex-7: 10000;
$fs-zindex-wf-scrollbars: $fs-zindex-5;
$fs-zindex-focused: $fs-zindex-6;
$fs-zindex-lane: $fs-zindex-0;
$fs-zindex-editor: $fs-zindex-7;
$fs-zindex-transition: $fs-zindex-1;
$fs-zindex-activity: $fs-zindex-3;

// Spacing
$fs-spacing-unit: 7px;

// Animations
$fs-ani-slow: 0.35s ease-in;
$fs-ani-medium: 0.25s ease-in;
$fs-ani-fast: 0.15s ease-in;
